@model CryptoGrimoire.Models.PageTradingPair

@{
    ViewData["Title"] = "Details";
    var exchangeTradingPairs = ViewBag.ExchangeTradingPairs as List<CryptoGrimoire.Models.ExchangeTradingPair>;
    var othersPairsWithLeftElementOfPair = ViewBag.OthersPairsWithLeftElementOfPair as List<CryptoGrimoire.Models.PageTradingPair>;
    var othersPairsWithRightElementOfPair = ViewBag.OthersPairsWithRightElementOfPair as List<CryptoGrimoire.Models.PageTradingPair>;

}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@if (exchangeTradingPairs.Count == 0)
{
    <p>Sorry, there is no connection to Exchanges</p>
}
else
{
    <table class="table table-bordered table-striped text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Exchange Name</th>
                <th scope="col">PairName</th>
                <th scope="col">LastPrice</th>
                <th scope="col">SellPrice</th>
                <th scope="col">BuyPrice</th>
                <th scope="col">Hight 24h</th>
                <th scope="col">Low 24h</th>
                <th scope="col">Updated time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in exchangeTradingPairs)
            {
                <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Pairs", new { pairName = item.Name }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.ExchangeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.High)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDateTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (othersPairsWithLeftElementOfPair == null || othersPairsWithLeftElementOfPair.Count == 0)
{
    <p>Sorry, there are no other pairs with @Model.Name.Split('_')[0]</p>
}
else
{
    <p>Pairs with @Model.Name.Split('_')[0]: </p>
    <table class="table table-bordered table-striped text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in othersPairsWithLeftElementOfPair)
            {
                <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Pairs", new { pairName = item.Name }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (othersPairsWithRightElementOfPair == null || othersPairsWithRightElementOfPair.Count == 0)
{
    <p>Sorry, there are no other pairs with @Model.Name.Split('_')[1]</p>
}
else
{
    <p>Pairs with @Model.Name.Split('_')[1]: </p>
    <table class="table table-bordered table-striped text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in othersPairsWithRightElementOfPair)
            {
                <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Pairs", new { pairName = item.Name }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-action="Index">Back to List</a>
