@model CryptoGrimoire.Models.Exchange
@{
    ViewData["Title"] = "Details";
    var tradingPairs = ViewBag.TradingPairs as List<PageTradingPair>;
}

<div>
    <img alt="No Image" height="300" src="@Model.LogoUrl" />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Url">@Model.Url</a>
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiUrl)
        </dt>   
        <dd class = "col-sm-10">
            <a href="@Model.ApiUrl">@Model.ApiUrl</a>
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSocketUrl)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.WebSocketUrl">@Model.WebSocketUrl</a>
        </dd>
    </dl>
</div>
@if (tradingPairs.Count == 0)
{
    <p>Sorry, there are no pairs with this Exchange</p>
}
else
{
    <table class="table table-bordered table-striped text-center align-middle">
    <thead>
        <tr>
            <th scope="col">PairName</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tradingPairs)
        {
            <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Pairs", new { pairName = item.Name }))'">
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
}

<a asp-action="Index">Back to List</a>
