@model CryptoGrimoire.Models.Exchange
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var tradingPairs = ViewBag.TradingPairs as List<PageTradingPair>;
    ViewData["Title"] = Model.Name;
}

<div>
    <img alt="No Image" height="300" src="@Model.LogoUrl" />
    <dl class="row">

        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <hr />
        
        <dt class = "col-sm-2">
            @Localizer["LongDesc"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        
        <dt class = "col-sm-2">
            @Localizer["Url"]
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Url">@Model.Url</a>
        </dd>
        
        <dt class = "col-sm-2">
            @Localizer["ApiUrl"]
        </dt>   
        <dd class = "col-sm-10">
            <a href="@Model.ApiUrl">@Model.ApiUrl</a>
        </dd>
        
        <dt class = "col-sm-2">
            @Localizer["WebSocketUrl"]
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.WebSocketUrl">@Model.WebSocketUrl</a>
        </dd>
    </dl>
</div>
@if (tradingPairs.Count == 0)
{
    <p>@Localizer["NoPairs"]</p>
}
else
{
    <table class="table table-bordered table-striped text-center align-middle">
    <thead>
        <tr>
            <th scope="col">@Localizer["PairName"]</th>
                <th scope="col">@Localizer["PairDescription"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tradingPairs)
        {
            <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Pairs", new { pairName = item.Name }))'">
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
}

<a asp-action="Index">@Localizer["BackToList"]</a>
