@model IEnumerable<CryptoGrimoire.Models.Exchange>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}

<table class="table table-bordered table-striped text-center align-middle">
    <thead>
        <tr>
            <th scope="col">@Localizer["ExchangeImage"]</th>
            <th scope="col">@Localizer["ExchangeName"]</th>
            <th scope="col">@Localizer["ExchangeShortDesc"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("Details", "Exchanges", new { exchangeName = item.Name }))'">
                <td width="15%">
                    <img alt="No Image" height="60" src="@item.LogoUrl"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDesc)
                </td>
            </tr>
        }
    </tbody>
</table>
